.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(95, 95, 95);
}

.card{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  width: 200px;
  height: 200px;
  border-radius: 1rem;

}

.image{
  size-adjust: calc();
  margin: 2rem;
  border-radius: 1rem;
  max-height: 120px;
  
}

.category{
  font-size:10px;
  color: gray;
}

.title{
  font-weight:400;
  font-size: 12px;
}

.title_owned{
  font-weight:400;
  font-size: 12px;
  text-decoration:line-through;
}

.circle_green{
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgb(45, 184, 27);
  margin-right: 5px;
}

.circle_red{
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgb(173, 45, 54);
  margin-right: 5px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
}